<section id="join-section" class="container mt-5">
    <div class="row align-items-center">
        <!-- Left Side -->
        <div class="col-md-6">
            <h1 class="text-danger">Form Ni Jubilee</h1>
            <p class="lead font-weight-bold text-justify">Are you an aspiring candidate?</p>
            <p class="lead font-weight-bold text-justify">Are you looking for a party where you are guaranteed transparent elections?</p>
            <p class="lead font-weight-bold text-justify">Jubilee is that party.</p>
            <p class="lead font-weight-bold text-justify">Join the winning team today!</p>
            <a href="#" class="btn btn-lg btn-danger">Nomination Application</a>
        </div>

        <!-- Center Image -->
        <div class="col-md-4 text-center">
            <img src="{% static 'party_images/joining.png' %}" class="img-fluid" alt="Jubilee Party Image">
        </div>

        <!-- Right Side -->
        <div class="col-md-2">
            <h1 class="text-danger">Join The Movement</h1>
            <a href="#" class="btn btn-lg btn-outline-danger d-block mb-3">Register as a Member</a>
            <a href="#" class="btn btn-lg btn-outline-danger d-block mb-3">Register as an Aspirant</a>
            <a href="#" class="btn btn-lg btn-outline-danger d-block mb-3">Volunteer</a>
            <a href="#" class="btn btn-lg btn-outline-danger d-block mb-3">Your Voice Matters</a>
        </div>
    </div>
</section>